
RewriteEngine On
RewriteCond $1 !^(index\.php|dbadmin\.php|site|BackOffice_Mobile_Time_Clock|monofont\.ttf|consus|upload|sessions|fckeditor|public|tmp|img|asset|locales|resources|robots\.txt\.html)
RewriteRule ^(.*)$  /RIS/index.php?/$1 [L]
