body { font-family: 'Bree Serif', Georgia, serif, Arial, Helvetica, sans-serif; height: 100%; cursor:hand;
		-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

.ui-widget { font-family: 'Bree Serif', Georgia, serif; font-size: 1.0em; }

/* Layers */
#layerContainer { position: relative; padding: 0; }
#imageLayer { position: absolute; }
#drawDiv { position: absolute; }

/* Info */
#infotl { position: absolute; top: 0; left: 0; text-align: left; }
#infotr { position: absolute; top: 0; right: 0; text-align: right; }
#infobl { position: absolute; bottom: 0; left: 0; text-align: left; }
#infobr { position: absolute; bottom: 0; right: 0; text-align: right; }
#plot { position: absolute; width: 100px; height: 50px; bottom: 15px; }
#infoLayer ul { margin: 0; padding: 2px; list-style-type: none; }
#infoLayer canvas { margin: 0; padding: 2px; }

/* Tag list */
table.tagList { border-collapse: collapse; width: 100%;}
table.tagList thead tr th { font-weight: bold; height:20px; }
table.tagList td { border: 1px solid grey; padding: 2px; }
#tags { width: auto; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; 
				border-top-right-radius: 4px; border-top-left-radius: 4px; 
				border: 1px solid #aaa; overflow: scroll; }
#tags .highlighted { background: #f87217; }
#tags form { width: 50%; }
#tabs_viewer { height: 100%; }
#thumbnailDiv {border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; 
				border-top-right-radius: 4px; border-top-left-radius: 4px; 
				border: 1px solid #aaa; overflow: scroll; position:absolute;}
#workwist { overflow: scroll; width:100%; }
.worklist_input {padding-left:10px; }
.worklist_classify { list-style: none; padding:2px; }
.worklist_classify select {width:100px;}
.worklist_classify .txtinput {width:100px; height:16px; }
.worklist_classify_chk td { list-style: none; padding-top:4px; padding-bottom:4px; }
.worklist_check { padding-left:20px; }
.worklist_button1 {padding-left:20px; }
.tagsList {margin: 0px; border-collapse: collapse; background-color: rgb(254, 254, 254);font-size: 1.0em; width: 100%;}
.tagsList td, th {padding:.3em; border:1px #ccc solid;height:25px;}
.tagsList th {background-color:#e2ebf5;height:25px;}
.tagslist_modality {width:20px;}
#layerDiv {width: auto; min-height: 0px; max-height: none; border: 1px solid #aaa; 
			border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; 
				border-top-right-radius: 4px; border-top-left-radius: 4px; background-color:black;}

#roiDiv {border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; 
				border-top-right-radius: 4px; border-top-left-radius: 4px; 
				border: 1px solid #aaa; overflow: scroll; position:absolute;}

#toolboxDiv {border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; 
				border-top-right-radius: 4px; border-top-left-radius: 4px; border: 1px solid #aaa; 
				overflow: scroll; position:absolute;}
.toolbtn {width: 40px; height: 40px;}
.waitcursor { display:none; position:absolute; }
.collapseDicomDir {padding-left: 10px;}
#treeDicomDir { display:none; position:absolute; max-height: 300px;overflow: scroll; 
				border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; 
				border-top-right-radius: 4px; border-top-left-radius: 4px; border: 1px solid #aaa;
				background-color: white;}
.treeDicomDir_table {border-collapse: collapse;}
.treeDicomDir_table td { border: 1px solid grey; padding: 2px; width:100px;}
.treeDicom_sel {background-color : gainsboro;}